
*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: gray;
    margin: 800px auto;
    width: 800px;
    height: 300px;;
}
.a{
    background-color: red;
    transition: all 1s ease 0s;
}
.b{
    background-color: green;
    transition: all 1s ease 0s;
}
.c{
    background-color: blue;
    transition: all 1s ease 0s;
}
.d{
    background-color: yellow;
    transition: all 1s ease 0s;
}
.e{
    background-color: purple;
    transition: all 1s ease 0s;
}

.box1{
    position: relative;
    overflow: hidden;
}
.box1 div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.box1 .a{    
    left: 0;
    top: 0;
}
.box1:hover .a{
    left: -100px;
    top: -100px;
}
.box1 .b{
    left: 0;
    bottom: 0;
}
.box1:hover .b{
    left: -100px;
    bottom: -100px;
}
.box1 .c{
    left: calc(50% - 50px);
    top: calc(50% - 50px); 
}
.box1 .d{
    top: 0;
    right: 0;
}
.box1:hover .d{
    right: -100px;
    top:-100px;
}
.box1 .e{
    right: 0;
    bottom: 0;
}
.box1:hover .e{
    right: -100px;
    bottom:-100px;
}
.box2{
    position: relative;
    overflow: hidden;
}
.box2 div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.box2 .a{
    left: -100px;
    top: -100px;
}
.box2:hover .a{
    left: 0;
    top: 0;
}
.box2 .b{
    left: -100px;
    bottom: -100px;
}
.box2:hover .b{
    left: 0;
    bottom: 0;
}
.box2 .c{
    left:calc(50% - 50px);
    bottom:-100px; 
}
.box2:hover .c{
    left:calc(50% - 50px);
    bottom:calc(50% - 50px); 
}
.box2 .d{
    right: -100px;
    top:  -100px;
}
.box2:hover .d{
    right: 0;
    top:  0;
}
.box2 .e {
    right: -100px;
    bottom: -100px;
}
.box2:hover .e {
    right: 0;
    bottom: 0;
}
.box3{
    position: relative;
}
.box3 div{
    width: 160px;
    height: 300px;
    position: absolute;
}
.box3 .a{
    left: 0;
    top: -300px;
}
.box3 .b{
    left: 160px;
    /* left: 20%; */
    top: 300px ;
    /* bottom: -100%; */
}
.box3 .c{
    left: 40%;
    top: -100%;
}
.box3 .d{
    left: 60%;
    top: 100%;
}
.box3 .e{
    left: 80%;
    top: -100%;
}
.box4{
    position: relative;
}
.box4 div{
    position: absolute;
}
.box4 .a{
    width: 300px;
    height: 300px;
    left: 0px;
    top: -50%
}
.box4 .a .c{
    width: 100px;
    height: 100px;
    top:0;
    right: 0;
}
.box4 .a .b{
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
}
.box4 .d{
    width: 300px;
    height: 300px;
    right: 0;
    bottom: -50%
}
.box4 .e{
    width: 100px;
    height: 100px;
    right: calc(50% - 50px);
    top: calc(50% - 50px);
}
.box5{
    position: relative;
}
.box5 div{
    position: absolute;
    width: 100px;
    height: 100px;
}
.box5 .a{
    left: -100px;
    top:-100px;
    z-index: 1;
}
.box5 .b{
    left: -50px;
    top: -50px;
}
.box5 .c{
    left: 0;
    top: 0;
    z-index: 1
}
.box5 .d{
    left: 50px;
    top: 50px;
}
.box5 .e{
    left: 100px;
    top: 100px;
    z-index: 1
}
.box6{
    display: flex;
}
.box6 .a{
    width: 400px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box6 .c{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
}
.box6 .b{
    width: 400px;
    height: 300px;
    position: relative;
}
.box6 .d{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 0;
    bottom: 0;
}
.box6 .e{
    position: absolute;
    width: 100px;
    height: 50px;
    right: 0;
    bottom: 0;
}
