 html{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Pretendard';
 }
 header{
    background-color: white;
    border: 1px solid red;
    height: 100px;
    overflow: hidden;
 }
 header:hover{
    max-height: 800px;
 }
 .inner-header{
    margin: 0 auto;
    width: 1600px;
    display: flex;
    justify-content: space-between;
 }
 .gnb{
    display: flex;
    gap: 20px;
 }
 .gnb>li>a{
    border: 1px solid green;
    display: flex;
    height: 100%;
    align-items: center;
 }

 .banner{
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    height: 800px;
 }
 .banner h1{
    color: white;
    font-weight: 400;
    font-size: 140px;
    line-height: 100%;
    text-align: center;
    padding: 319px
 } 