@media (min-width:1024px){
    /* 화면너비가 최소 1024px 이상일 때 적용되는 스타일 */
    .container{
        background-color: red;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .container{
        background-color: blue;
    }
}
@media (max-width:767px){
     .container{
        background-color: green;
    }
}
