.box1{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    box-shadow: 10px 10px 10px blue;
    /* x좌표, y좌표, 확산정도 */
}
.box2{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    box-shadow:
    20px 20px 0px red, 
    -20px -20px 0px blue,
    -20px 20px 0 yellow,
    20px -20px 0 pink,
    40px 40px 0 green;
}
.box3{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    box-shadow: 0px 0px 0px red;
    transition: all 1s ease 0s;
}
.box3:hover{
    box-shadow: 10px 10px 20px red;
}

.filter1 img{
    filter: grayscale(1);
    transition: all 1s ease 0s;
}
.filter1 img:hover{
    filter: grayscale(0);
}

.filter2 img{
    filter: brightness(0.4);
    transition: all 1s ease 0s;
}
.filter2 img:hover{
    filter: brightness(1);
}

.filter3 img{
    filter: blur(20px);
    transition: all 1s ease 0s;
}
.filter3 img:hover{
    filter: blur(0px)
}

.filter4 img{
    filter: hue-rotate(180deg);
    /* 180deg -> 보색 */
    transition: all 1s ease 0s;
}
.filter4 img:hover{
    filter: hue-rotate(0deg);
}

.bg{
    background: linear-gradient(30deg, gold, darkgreen);
}
.blend1 img{
    mix-blend-mode: color-burn;
}
.blend2 img{
    mix-blend-mode: difference;
}
.blend3 img{
    mix-blend-mode: overlay;
}
