html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.stp1{
    font-family: "abo";
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
    border: 1px solid red;
}
.gnb li{
    border: 1px solid red;
}
.gnb li a {
    height: 100%;
    border: 2px solid gold;
    display: flex;
    align-items: center;
    /* a태그안에 어떤 공간이든 선택이 되게 하는 것.(원래는 텍스트를 정확히 클릭해야됨)
    a 태그한테 flex주고 align-items설정해서 center로 보내면됨 */
    padding: 0 1rem;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.baner h1{
    color: white;
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}