:root{
    --base-pc:20px;
    --base-tab:18px;
    --base-mobile:14px;
}
.stp1{
        font-family: "abo";
    }
@media(max-width:1920px){
    html{
        font-size: var(--base-pc);
        font-weight: 400;
        font-family: 'Pretendard';
    }
    .common-frame{
        width: 1600px;
        margin: 0 auto;
        margin-top: 6rem;
    }
    .banner{
        height: 599px;
        border-radius: 2.5rem;
        background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner{
        color: white;
        font-size: 2.5rem;
        text-transform: uppercase;
        line-height: 100%;
    }
    .common-frame h2{
        font-size: 7.5rem;
        line-height: 90%;
        text-transform: uppercase;
        padding-top: 6rem;
    }
    .desc1{
        font-size: 1rem;
        line-height: 140%;
        text-transform: uppercase;
        margin-top: 2.4rem 0;
    }
    .gallery{
        display: flex;
        gap: 1rem;
    }
    .gallery figure{
        flex: 1;
        aspect-ratio: 520/434;
    }
    .gallery figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    .common-frame h3{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
    }
    .desc2{
        font-size: 1rem;
        line-height: 140%;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 2rem;
    }
    .gallery.type2 figure{
        flex: 1;
        aspect-ratio: 790/434;
        /* 기존스타일에서 조금만수정하고싶을 때 */
    }
    .wrap{
        background: url(../img/bg.png) no-repeat 50% 50% / 100% auto;
    } 
}
@media(max-width:1024px){
    html{
        font-size: var(--base-tab);
        }
    .common-frame {
        width: auto;
        margin: 0 2rem;
        margin-top: 6rem;
    }  
    .common-frame h2 {
        font-size: 80px;
    }
    }
    .desc1 {
    margin: 2.6rem 0;
    }
    .gallery figure {
    flex: 1;
    aspect-ratio: 1/1;
    }
    .gallery figure img {
    border-radius: 20px;
    }
    .gallery.type2 figure {
    flex: 1;
    aspect-ratio: 467/434;
    }
@media(max-width:768px){
    html{
        font-size: var(--base-mobile);
        }
    .common-frame {
        width: auto;
        margin: 0 1rem;
        margin-top: 6rem;
    }
    .common-frame h2 {
        font-size: 50px;
    }
    .desc1 {
    margin: 3.4rem 0;
    }
    .gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
    .gallery figure {
    flex: 1;
    aspect-ratio: 175/150;
    }   
    .gallery figure img {
    border-radius: 20px;
    }
    .gallery.type2 {
    flex: 1;
    height: initial;
    max-width: 100%;
    flex-direction: column;
    aspect-ratio: 365/150;
    }
    .gallery.type2 img{
    height: initial;
    max-width: 100%;
    aspect-ratio: 365/150;
    }
    .gallery.type2 figure {
    flex: 1;
    aspect-ratio: 365/150;
}
    .gallery figure:last-of-type {
    flex-basis: 100%;
    aspect-ratio: 365/150;
}

} 
