html{
    font-size: 20px;
    font-weight: 400px;
    font-family:  font-family: 'Pretendard' sans-serif;
}
.abo{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    width: 1920px;
    background: url(../img/bg.png) no-repeat 50% 50% / cover;
}
.wrap{
    width: 1600px;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}
.banner{
    height: 599px;
    background: url(../img/banner.jpg) no-repeat 50% 50% /cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 6rem;
}
.banner h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
}
.wrap h2{
    border: 1px solid red;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
}
.wrap p{
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
    margin: 48px 0;
}
.cafe{
    display: flex;
    gap: 1rem;
    margin-bottom: 40px;
}
.cafe figure{
    flex: 1;
    aspect-ratio: 520/434;
    line-height: 0;
}
.cafe figure img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.wrap h3{
    text-align: center;
    font-size: 2rem;
    line-height: 140%;
    text-transform: uppercase;
}
.wrap h3+p{
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
}
.cafe2{
    display: flex;
    gap: 1rem;
}
.cafe2 figure{
    flex: 1;
    aspect-ratio: 790/434;
    line-height: 0;
}
.cafe2 figure img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}