html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
}
.inner-frame{
    width: 1440px;
    margin: 0 auto;
    margin-top: 3.75rem;
    text-align: center;
}
.inner-frame h1{
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    padding: 1rem 0;
}
.desc{
    margin-bottom: 5rem;
    font-weight: 400;
    line-height: 140%;
}
.banner{
    height: 441px;
    background: url(../img/예제1이미지.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 5rem;
}
.inner-frame h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    text-transform: uppercase;
    padding: .5rem 0;
    margin-bottom: 1rem;
}
.values li{

    margin-bottom: .5rem;
}
.value li:last-of-type{
    margin-bottom: 0;
}