*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
html{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
}
main{
    margin: 75px auto 75px;
    width: 1440px;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}
main h1{
    margin: 20px 592px;
    font-weight: 900;
    line-height: 100%;
    font-size: 2.5rem;
}
main h1+p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
}
.img{
    box-sizing: border-box;
    width: 1440px;
    height: 441px;
    background: url(../img/예제1이미지.jpg) no-repeat 50% 50% / cover;
    margin: 100px 0 110px;
}
main h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    margin: 0 664.5px 30px
}
.content{
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
}
.secondp{
    margin: 10px auto;
}