*{margin: 0px;padding: 0px;}
.a{width: 200px;border: 10px solid #000;}
.b{width: 300px;border: 10px solid pink;padding: 20px;}
.c{width: 400px;box-sizing: border-box;padding: 30px;border: 10px solid red}
/* abc가로너비총합은=220 360 400 */
.g{
   width:200px;
   height:200px;
   /* padding-top:10px;
   padding-bottom:10px;
   padding-left:20px;
   padding-right:20px; */
   padding: 10px 20px;
   border:10px solid red;
}
.h{
    width:300px;
    height:300px;
    /* padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px; */
    padding: 10px 20px 30px;
    border-bottom:10px solid blue;
}
.i{
    width:300px;
    border:10px solid green;
    margin-top:30px;
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */
    padding: 10px 20px 30px 40px;
}
.i h1{padding:20px;}

/* g가로 g세로 h세로 i너비=260 240 350 260 */

.j{
    width:300px;
    /* padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 20px; */
    padding: 10px 30px 40px 20px;
    border: 10px solid #000;
}
.k{
    border: 10px solid blue;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px */
    padding: 10px 20px;
}
.k1 h1{
    border:10px solid red;
    width: 100px;
    height: 100px;
}
.k h2{
    border: 10px solid green;
    width: 100px;
    height: 100PX;
    margin-top: 20px;
}
/* J가로사이즈+ K세로사이즈=370 300*/

.l{
    border: 10px solid red;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px; */
    padding: 10px 20px;
    border-right: 1px solid blue;
    width: 300px;
}
.m{
    width: 500px;
    border: 20px solid #000;
}
.m h1{
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px; */
    padding: 0 20px;
    border: 10px solid red ;
}
/* l가로사이즈 + h1태그의 컨텐트박스 너비= 351 440*/

.n{
    border: 10px solid red;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 10px 20px;
    width: 500px;
    box-sizing: border-box;
}
.n h1{
    border: 10px solid blue;
    padding: 10px;
    margin-bottom: 10px;
    height: 50px
} 
.n ul{
    border: 10px solid orange;
}
.n ul li{
    border-bottom: 1px solid green;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
}
.n ul li:nth-of-type(2){
    height: 60px;
    border-bottom: 5px solid green;
}
/* n가로(500)+n세로(317) 817 */