*{
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
ul,ol{
    list-style: none;
}
em,address,i{
    font-style: inherit;
}
strong,b{
    font-weight: inherit;
}
img{
    max-width: 100%;
}
table{
    border-collapse: collapse;
    /* 겹치는선을 합치는속성 */
}