:root{
    --base-pc:20px;
    --base-tab:18px;
    --base-mobile:14px;
}
@media (max-width:1920px){
    html{
     font-family: 'Pretendard' sans-serif;
     font-weight: 400;
     font-size: var(--base-pc);
    }
    .banner{
        height: 599px;
        background: url(../img/banner.png) no-repeat 50% 81% / cover;
        border-radius: 0 0 150px 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboreto{
        font-family: "Aboreto", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    .banner h1{
        color: white;
        font-size: 2.5rem;
        line-height: 100%;
    }
    .common-frame{
        width: 1600px;
        margin: 0 auto;
    }
    .deco-title{
        font-size: 7.5rem;
        line-height: 90%;
        text-transform: uppercase;
        padding-top: 10rem;
        text-align: center;
        background: url(../img/Vector\ 1.svg) no-repeat 50% -13%;
    }
    .desc1{
        margin-top: 2rem;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5rem;
    }
    .desc1 em{
        color: #770000;
    }
    body{
        background: url(../img/BACKGROUND.png) repeat-x 0 655px;
    }
    .cafe{
        display: flex;
        gap: 1rem;
        margin-bottom: 2.5rem;
    }
    .cafe figure{   
        flex:1;
        aspect-ratio: 790/434;
        line-height: 0;
    }
    .cafe figure img{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    .common-frame h3{
        font-size: 2rem;
        line-height: 140%;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .common-frame h3 em{
        color: #770000;
    }
    .common-frame h3+p{
        margin-bottom: .5rem;
    }
    .common-frame p strong{
        font-weight: 600;
    }
}
@media (max-width:1024px){ 
    html{
        font-size:var(--base-tab) ;
    }
    .banner h1 {
        color: white;
        font-size: 2.7rem;
        line-height: 100%;
    }
    .common-frame {
        width: auto;
        margin: 0 2rem;
    }
    .desc1 {
        margin-top: 2rem;
        line-height: 90;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
        .cafe figure {
        flex: 1;
        aspect-ratio: 467/434;
        line-height: 0;
    }
}
@media (max-width:768px){
    html{
        font-size:var(--base-mobile) ;
    }
}