*{margin: 0; padding: 0;}
ul{list-style: none;}
a{
    color: inherit;
    text-decoration: inherit;
}
header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    overflow: hidden;
    background-color: pink;
    transition: all 0.6s ease 0s;
}
header:hover{
    max-height: 400px;
}
/* 기본값 auto가 적용되고있으므로 가지고있는 컨텐츠만큼 크기가 늘어남 (최대 400px까지)*/
.logo{
    border: 1px solid blue;
}
.gnb{
    border: 1px solid blue;
    display: flex;
}
.gnb>li{
    border: 1px solid green;
}
.gnb>li>a{
    background-color: yellow;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}