html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
.aboreto{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.banner{
    border: 1px solid red;
    height: 599px;
    background: url(../img/banner.png) no-repeat 50% 50% / cover;
}
.banner h1{
    border: 1px solid red;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    padding-top: 270px;
}
.content{
    border: 1px solid red;
    width: 1600px;
    margin: 6rem auto;
}
.content h2{
    font-size: 4rem;
    line-height: 90%;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.content p{
    border-top: 1px solid #000;
    border: 1px solid red;
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: right;
    line-height: 140%;
    margin-bottom: 3rem;
}
.content figure{
    border: 1px solid green;
}
.content figure img{
    width: 1000px;
    height: 430px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.content figcaption{
    line-height: 140%;
    text-transform: lowercase;
}