*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
address{
    font-weight: inherit;
}
html{
    font-size: 20px;
}
h2{
    border: 1px solid red;
    width: 1920px;
    height: 599px;
    background: url(../img/7247350364b9abd890d544b50b85e6093c349f17.png) no-repeat 50% 50% / cover;
    margin: 0 auto 120px;
}
h2 .w{
    border: 1px solid red;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    font-family: "Aboreto", system-ui,sans-serif;
    color: white;
    display: block;
    text-align: center;
    margin-top: 270px;
    margin-bottom: 271px;
}
main{
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    font-family: 'Pretendard';
    font-weight: 400;
    line-height: 140%;
    font-size: 1rem;
}
main h1{
    font-family: "Aboreto", system-ui,sans-serif;
    line-height: 90%;
    font-size: 4rem;
    margin-bottom: 80px;
}
main p:first-of-type{
    border: 1px solid red;
    font-weight: 400px;
    text-align: right;
    padding: 20px 0;
    margin-bottom: 60px;
}
img[src]{
    box-sizing: border-box;
    width: 1000px;
    height: 430px;
    margin-bottom: 20px;
}
main p span{
    font-weight: 800;
}