@font-face {
    font-family: "케듀체";
    src: url(../font/KERISKEDU_R.otf);
    font-weight: 400;
}

@font-face {
    font-family: "케듀체";
    src: url(../font/KERISKEDU_B.otf);
    font-weight: 700;
}

@font-face {
    font-family: "케듀-테두리";
    src: url(../font/KERISKEDU_Line.otf);
}

@font-face {
    font-family: 'NostalgicYuriDakku';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-1@1.0/Griun_YuriDaggu-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}



