html{
    font-size: 30px;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
}
.box{
    font-size: 50px;
}
.box h1{font-size: 2em;}
.box h2{font-size: 2rem;}

.ex1{
    font-weight: 600;
}

.ex2{
    line-height: 1.5x;
}