.kedu{
    font-family: "케듀체",sans-serif;
    font-weight: 700;
}
.dakku{
    font-family: 'NostalgicYuriDakku'; 
}
.kedu2{
    font-family: "케듀-테두리";
}
.mons{
   font-family: "Tangerine", cursive;
}
.b{
    font-family: "Henny Penny", system-ui
}
