html{
    font-size: 30px;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
}
.box{
    font-size: 50px;
}
.box h1{font-size: 2em;}
.box h2{font-size: 2rem;}

.ex1{
    font-weight: 600;
}

.ex2{
    line-height: 1.5x;
}
.ex3{
    font-style: italic;
}
adress{
    font-style: normal;
}
.ex4{
    letter-spacing: 50px;
}
.ex5{
    word-spacing: 50px;
}
.ex6{
    /* white-space: nowrap; */
    /* white-space: pre; */
    white-space: pre-wrap;
}
.ex7{
    text-indent: 100px;
}
.ex8{
    text-decoration: underline;
    text-decoration: line-through;
}
a{
    /* text-decoration: none; */
    text-decoration: initial;
}
.ex9{
    border: 1px solid red;
    /* text-align: left; */
    /* text-align: right; */
/* text-align: center; */
    text-align: justify;
    width: 600px;
    /* word-break: break-all; */
    word-break: keep-all;
    margin-left: auto;
    margin-right: auto;
}
.ex10{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}
.ex11{
    font size: 40px;
}
.ex11 b{
    font size: 0.5em;
    vertical-align: baseline;
    vertical-align: top;
    vertical-align: bottom;
    vertical-align: middle;
}