html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard';
}
.stp1{
    font-family: "abo";
}
.frame1{
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
div h1{
    font-size: 2.5rem;
    line-height: 100%;  
    padding-top: 160px;
    text-align: center;
    text-transform: uppercase;
}  
.desc1{

    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
}
.banner{
    margin-top: 5rem;
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner h2{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    color: white;
}
.frame2{
    width: 1604px;
    margin: 0 auto;
    margin-top: 100px;
}
.frame2 h3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.desc2{
    font-size: 1rem;
    line-height: 140%;
    margin-bottom: 2.5rem;
    text-align: center;
}
.img{
    display: flex;
    gap: 1rem;
}
.img figure{
    flex: 1;
    aspect-ratio: 521.33/520;
}
.img figure img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
ul{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-weight: 700;
}
ul li{
    flex: 1;
    width: 521.33px;
    font-style: bold;
}
.frame3{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}
.frame3 p{
    flex: 1;
    width: 521.33px;
}