.a{
    border: 10px solid red;
    width: 300px;
    height: 100px;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    overflow: auto;
}
.b{
    border: 10px solid blue;
    overflow-x: scroll;
    white-space: nowrap;
}
.c{
    border: 10px solid black;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;  
    border-radius: 10px;
}
.d{
    /* 외우지말고 복사해서 쓸 것 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden;
    text-overflow: ellipsis;
    border: 10px solid green;
    width: 300px;
}
/* 외우지 말 것 */
::-webkit-scrollbar{
    width: 10px;
    height: 20px;
}

::-webkit-scrollbar-thumb{
    background: red;
}
::-webkit-scrollbar-track{
    background-color: aqua;
}
.e{
    border: 10px solid coral;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}
.e::-webkit-scrollbar{
    width: 14px;
    height: 14px;
}

.e::-webkit-scrollbar-thumb{
    background: goldenrod;
    border-radius: 4px;
}
.e::-webkit-scrollbar-track{
    background-color: darkcyan;
}
