*{margin: 0; padding: 0;}
.box{
    border: 1px solid red;
    display: grid;
    gap: 10px 20px;
    /* grid-template-columns: 100px 200px 300px 1fr; */
    /* grid-template-columns: 150px 20% 20% 100px; */
    /* grid-template-columns: 150px repeat(2,20%) 100px; */
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: 100px 100px 100px 100px 100px; */
    grid-template-rows: repeat(5,minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
}
.box section{
    border: 1px solid blue;
}
.box section:nth-of-type(6){
    background-color: green;
    grid-column: 1/3;
    grid-row: 1/3;
}