*{margin: 0; padding: 0;}
.box{
    border: 1px solid red;
    height: 1200px;
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 200px 200px 200px 200px;
    /* grid-template-columns: 100px 200px 300px 1fr; */
    /* grid-template-columns: 150px 20% 20% 100px; */
    /* grid-template-columns: 150px repeat(2,20%) 100px; */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-rows: 100px 100px 100px 100px 100px; */
    grid-template-rows: repeat(5,minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    justify-content: end;
    justify-items: center;
    align-content: start;
    align-items: center;
}
.box section{
    border: 1px solid blue;
}
.box section:nth-of-type(6){
    background-color: green;
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: stretch;
    justify-self: start;
    /* 아이템들한테 적용하는속성 */
}
