*{margin: 0;padding: 0;}

.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}
.box{background-color: gray;
    margin-bottom: 300px;
}

.box10{
    width: 800px;
    height: 300px;
    display: flex;
}
.box10-1{
    width: 250px;
}
.box10-3{
    width: 250px;
}
.box10 .c{ 
    height: 100px;
}
.box10-2-1{
    display: flex;
}
.box10-2-1 div{
    width: 150px;
    height: 200px;
}

.box11{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.box11 section{
    width: 200px;
}
.box11 .a,
.box11 .b{
    width: 200px;
    height: 100px;
}
.box11-2{
    display: flex;
    width: 400px;
}
.box11 .c
.box11 .d{
    width: 100px;
    height: 100px;
}
.box11-3 div{
    height: 100%;
}

.box12{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12 .e{
    width: 400px;
    height:150px
}
section{
    display: flex;
    justify-content: center;
}
section div{
    width: 100px;
    height: 100px;
}