*{
    margin:0;padding: 0;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}
.box{
    background: gray;
    margin-bottom: 300px;
}

.box1{
    width:800px;
    height:100px;
    display: flex;
}
.box1 div{
    width:100px;
    height:100px;
}
.box2{
    width:800px;
    height:100px;
    display: flex;
}
.box2 div{
    width:100px;
    height:100px;
}
.box2 .a{order: 2;}
.box2 .b{order: 4;}
.box2 .c{order: 1;}
.box2 .d{order: 5;}
.box2 .e{order: 3;}

.box3{
    width:800px;
    height:100px;
    display: flex;
    justify-content: flex-end;
}
.box3 div{
    width:100px;
    height:100px;
}
.box4{
    width:800px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4 div{
    width:100px;
    height:100px;
}

.box5{
    display: flex;
    width:800px;
    height:300px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
.box5 div{
    width:100px;
    height:100px;
}

.box6{
    width:800px;
    height:300px;
    display: flex;;
    flex-wrap: wrap;
}
.box6 div{
    width:400px;
    height:100px;
}

.box7{
    width:800px;
    height:300px;
    display: flex;
    justify-content: space-between;
}
.box7 div{
    width:100px;
    height:100px;
}

.box8{
    width:800px;
    height:300px;
    display: flex;
    justify-content: space-between;
}
.box8 div{
    width:100px;
    height:100px;
}
.box8-1{
    display: flex;
}
.box8-2{
    display: flex;
    flex-direction: row-reverse;
}
.box9{
    width:800px;
    height: 300px;
    display: flex;
}
.box9-1{
    width:500px;
    display: flex;
}
.box9-1 div{
    flex:1;
}
.box9-2 div{
    width:300px;
    height:100px;
}

.box10{
    width:800px;
    height:300px;
    display: flex;
}
.box10 section{
    /* border: 1px solid red;; */
}
.box10-1{
    width:250px;
}
.box10-2{
    width:300px;
}
.box10-3{
    width:250px;
}
.box10 .c{
    height:100px;
}
.box10-2-1{
    display: flex;
}
.box10-2-1 div{
    /* width:150px; */
    flex:1;
    height:200px;
}

.box11{
    width:800px;
    height:300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box11 section{
    width:200px;
}
.box11 .a,
.box11 .b{
    height:100px;
}
.box11 .c,
.box11 .d{
    width:100px;
    height:100px;
}
.box11-2{
    display: flex;
}
.box11 .e{
    height:100%;
}

.box12{
    width:800px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12 .e{
    width:400px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12 .e div{
    width:100px;
    height:100px;
}