*{margin: 0;padding: 0;}

.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}
.box{background-color: gray;
    margin-bottom: 300px;
}
.box1{
    width: 800px;
    height: 100px;
    display: flex;
}
.box1 div{
    width: 100px;
}

.box2{
    width: 800px;
    height: 100px;
    display: flex;
}
.box2 div{
    width: 100px;
}
.box2.a{order: 2;}
.box2.b{order: 4;}
.box2.c{order: 1;}
.box2.d{order: 5;}
.box2.e{order: 3;}

.box3{
    display: flex;
    width: 800px;
    height: 300px;
    justify-content: flex-end;
}
.box3 div{
    width: 100px;
    height: 100px;
}

.box4{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4 div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row-reverse;

}
.box5 div{
    width: 800px;
    height: 300px;
}

.box6{
    width: 800px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.box6 div{
    width: 400px;
    height: 100px;
}

.box7{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.box7 section{
    width: 100px;
    height: 100px;
}

.box8{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.box8 div{
    width: 100px;
    height: 100px;
}

.box9{
    width: 800px;
    height: 800px;
}
.box9.box9-1{
    display: flex;
}