*{margin: 0; pad: 0;}
.box{
    border: 10px solid red;
    display: flex;
    width: 800px;
    margin: 0 auto;
    /* flex-wrap: nowrap;(기본값) */
}
.box section{
    /* flex-shrink: 1; */
    flex-basis: 200px;
}
.box section:nth-of-type(2){
    flex-shrink: 2;
}
.box2{
    border: 10px solid blue;
    width: 800px;
    margin: 0 auto;
}
.box2 section{
    flex: 1;}
    /* flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; */

.box2 .a{
    background-color: orange;
}
.b{background-color: blue;}
.c{background-color: green;}
.d{background-color: pink;}