*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 풀무원;
    src: url(../font/PulmuoneLOHASBold.woff);
}
.pul{
    font-family: 풀무원;
}
html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.banner{
    height: 250px;
    background: url(../img/sub_vis01_02.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 50px;
}
main{
    width: 1200px;
    margin: 0 auto;
}
main h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 100px;
    background: url(../img/sub_tit_line.gif) repeat-x 0 50px;
}
main h1 span{
    background: #fff;
    padding-right: 20px;
}
main h2{
    font-size: 52px;
    text-align: center;
    padding: 0 70px;
    margin-bottom: 50px;
}
main h2 em{
    font-style: normal;
    color: #7eae4b;
}
.content{
    border: 1px solid red;
    padding: 40px 90px 50px;
    box-sizing: border-box;
    width: 810px;
    margin: 0 auto;
    text-align: center;
}
.content h3{
    margin-bottom: 25px;
    font-size: 35px;
}
/* .content p:nth-of-type(1){} */
.content h3+p{
    margin-bottom: 30px;
}