html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
header{
    border-bottom: 2px solid #BE0707;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.inner-frame{
    width: 1600px;
    margin: 0 auto;
}
header .inner-frame{
    display: flex;
    justify-content: space-between;
    color: white;
}
.lnb{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 30px;
    align-items: center;
    font-size: 0.8rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb{
    display: flex;
    height: 70px;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb li{
    flex: 1;
}
.gnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav{
    width: 966px;
}
.banner{
    border: 1px solid red;
    height: 100vh;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.banner h2{
    width: 1600px;
    font-size: 7rem;
    line-height: 90%;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
}
.c1 h3{
    font-family: Aboreto;
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.c1 p{
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.sub-banner{
    height: 441px;
}
.sub-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}