html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard';
}
.banner{
    background: url(../img/hero-banner.jpg) no-repeat 50% 50% / cover;
    height: 963px;
}
.common-frame{
    margin: 0 auto;
    width: 1600px;
    display: flex;
    justify-content: space-between;
}
.nav .lnb{
    border: 1px solid red;
    width: 316px;
    display: flex;
    color: white;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.nav .lnb li{

}
.nav .gnb{
    border: 1px solid red;
    color: white;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
} 
.nav .gnb li{
    width: 138px;
    height: 70px;
}
.nav .gnb li a{
    height: 100%;
    align-items: center;
}
div h2{
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase
}
div p{
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.banner2{
    width: 1600px;
    height: 441px;
    margin: 0 auto;
}